*{
  margin: 0;
  padding: 0; 
}

#titulo {
  font-family: fantasy;
  color: #00BFFF;
  margin-left: 5%;
}

#subtitulo {
  font-family: fantasy;
  color: #2F4F4F;
  margin-left: 7%;
}

fieldset {
  border-style: outset;
  border-width: thin;
}

#body {
  background-color: #E6E6FA;
  font-family: monospace;
  font-size: 1em;
  margin-left: 20%;
  margin-top: 2%;
  justify-content: center;
}

input, select, textarea, button {
  border-radius: 5px;
  border-style: ridge;
  border_width: thin;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.4em;
  color: #000080;
  display: block;
}

fieldset.grupo .campo {
  float: inline;
  margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
  padding: 0.4em;
  border: 2px inset #00FFFF;
  box-shadow: 3px 3px 3px rgb(61, 81, 244);
  display: block;
}

.campo select option {
  padding-right: 1em;
  border-style: inset;
}
  
.campo input:focus, .campo select:focus, .campo textarea:focus {
  background: #836FFF;
}

#submit {
  font-size: 1.1em;
  background: #87CEFA;
  border: 0;
  margin-bottom: 1.3em;
  color: #B0C4DE;
  padding: 0.4em 0.8em;
  box-shadow: 3px 3px 3px rgba(18, 20, 61, 1);
  text-shadow: 2px 2px 2px rgba(18, 20, 61, 1);
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
}

#submit:hover {
  background: #00CED1;
  box-shadow: outset 3px 3px 3px rgba(0, 0, 0, 0.8);
  text-shadow: 1px;
}

button {
  position: center;
  padding: 0.25em 0.75em;
  margin-bottom: 0.5em;
}
  
#check {
  display: inline-block;
}

